@import url(http://fonts.googleapis.com/css?family=Roboto:300,400|Lato:300|Arvo:600);

body {
	background-color:#3498db;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:4em;
	color:white;
}
h2,h3,h4,h5,h6 {
	font-family: 'Roboto', serif;
	font-weight:300;
	border-bottom:1px dashed rgba(52, 152, 219, 0.6);
}
h1 {
	color:white;

}
* {
	transition: background 0.3s ease;
}

.container {
	background-color:#2980b9;
	margin-top:10px;
}
.list-group-item:hover {
	cursor: pointer;
	background-color:#eee;
}
.list-group-item:hover a {
	text-decoration:underline;

}
.list-group-item:hover:after {
	float:right;
	color:#888;
	content: "Join Game";

}

.list-group-item.active {
	background-color:rgba(41, 128, 185, 0.7);
}

.list-group-item.active a {
	color:white;
}

#map-container {
	width: 100%;
	height: 100%;
	min-height:500px;
}

.modal-body {
	padding:0;
}

.modal .country {
	display: block;
	position: relative;
	top: 250px;
	margin-bottom: -60px;
	z-index: 99999;
	width: 100%;
	background: rgba(52, 152, 219, 0.5);
	padding: 10px;
	color: white;
	text-align: center;
	font-size: 2em;
	pointer-events:none;
}


.modal .country.correct {
	background: rgba(46, 204, 113, 0.5)
}
.modal .country.incorrect {
	background: rgba(231, 76, 60, 0.5);
}
.received {
	background: rgba(243, 156, 18, 0.5) !important;
}

@keyframes blink {
	0% { color: red; }
	100% { color: black; }
}
@-webkit-keyframes blink {
	0% { color: red; }
	100% { color: black; }
}
.blink {
	-webkit-animation: blink 0.5s linear infinite;
	-moz-animation: blink 0.5s linear infinite;
	animation: blink 0.5s linear infinite;
}
.gi-userlist.gi-override {
	/* Add custom styles */
}

.gi-userlist.gi-override .gi-inner {
	/* Add custom styles */
}

.gi-userlist.gi-override .gi-user {
	/* Add custom styles */
}

.gi-userlist.gi-override .gi-avatar {
	/* Add custom styles to the avatar container */
}

.gi-userlist.gi-override .gi-avatar-img {
	/* Add custom styles to the avatar image */
}

.gi-userlist.gi-override .gi-color {
	/* Add custom styles to the color container */
}
